# Teste: Avaliando e desenvolvendo intuição
Enunciado: Usando as funções que você aprendeu até agora, explore `census_income_data.csv` no notebook Jupyter abaixo para responder às perguntas do quiz sobre estas características do conjunto de dados:
* número de linhas
* número de colunas
* tipos de dados de várias colunas
* colunas com valores faltantes
* número de valores únicos de educação
* idade média
* 75º percentil de horas por semana

In [321]:
# importe pandas
import pandas as pd

In [79]:
# carregando dados de renda do censo
df = pd.read_csv('../doc/census_income_data.csv')

In [80]:
# imprimindo as iniciais para conferir
display(df.head())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [81]:
# método describle para obter informações sobre as colunas
describe = df.describe()
display(df.describe())

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [105]:
# numero de linhas pode ser feito de 2 formas:
    #com shape
print('número linhas (shape): {}'.format(df.shape[0]))
    #ou com a varialvel describe que criamos
print('numero de colunas: {}'.format(describe['age']['count']))

número linhas (shape): 32561
numero de colunas: 32561.0

In [106]:
# numero de colunas
print('número colunas (shape): {}'.format(df.shape[1]))

número colunas (shape): 15

In [157]:
# tipo de dados para as colunas
print('{}'.format(df.dtypes))

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income            object
dtype: object

In [56]:
# verificando tipo object
tipo = [type(df['workclass'][0]), type(df['education'][0]),
       type(df['relationship'][0]), type(df['hours-per-week'][0]),
       type(df['income'][0])]
tipo

[str, str, str, numpy.int64, str]

In [246]:
# outra forma de verificar
teste = []
for i in range(df.shape[1]):
    print(df.columns[i], type(df[df.columns[i]][0]))
#df.columns[1]

age <class 'numpy.int64'>
workclass <class 'str'>
fnlwgt <class 'numpy.int64'>
education <class 'str'>
education-num <class 'numpy.int64'>
marital-status <class 'str'>
occupation <class 'str'>
relationship <class 'str'>
race <class 'str'>
sex <class 'str'>
capital-gain <class 'numpy.int64'>
capital-loss <class 'numpy.int64'>
hours-per-week <class 'numpy.int64'>
native-country <class 'str'>
income <class 'str'>

In [391]:
# colunas com valores faltantes
matriz = []
linha = []

print(range(len(df.columns)))
print(range(df.shape[0]))

# os as linhas da coluna (de 0 até ...)
indexs = df.index
#colunas
colunas = df.columns
'''
for i in colunas:
    for j in indexs:
        if(df[i][j] > 50):
            print(i, df[i][j])
'''
df.isnull().sum()

range(0, 15)
range(0, 32561)

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [390]:
# Quantos valores únicos de educação existem?
qtd_valores_unicos_education = df['education'].nunique()
print('n° de valores unicos de {0}: {1}'.format(df.columns[3], qtd_valores_unicos_education))

n° de valores unicos de education: 16

In [388]:
# Qual é a idade média, aproximada para o inteiro mais próximo?
#print('\n'.format(df.describe()))
inteiro_mais_proximo = round(describe["age"]["mean"], 0)
print('Iadade média: {0}'.format(inteiro_mais_proximo))

Iadade média: 39.0

In [389]:
# Qual é o 75º percentil de horas por semana nesse conjunto de dados?
print('O 75º percentil de horas por semana nesse conjunto de dados: {0}'.format(describe['hours-per-week']['75%']))

O 75º percentil de horas por semana nesse conjunto de dados: 45.0