# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

Este csv apresenta um conjunto de dados de prática sobre vendas semanais de diferentes lojas de uma rede mercados.

Determinados os dados de vendas das lojas, use o Python para tirar conclusões sobre como essas lojas estão performando.

* Qual loja obteve o maior resultado de vendas no último mês?
* Qual loja vende mais, em média?
* Qual loja vendeu mais durante a semana de 13 de março de 2016?
* Em qual semana a loja C tem o pior resultado de vendas?
* Qual vendeu mais nos últimos três meses?

In [33]:
# imports and load data
import pandas as pd
import numpy as ny
df_store = pd.read_csv('../doc/store_data.csv')

In [34]:
# verificando os dados
df_store.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [35]:
# explore data
describe = df_store.describe()
print(describe)

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [36]:
# total sales for the last month
print(df_store['week'].tail(1))

199    2018-02-25
Name: week, dtype: object

In [37]:
type(df_store['week'][0])

str

In [38]:
# teste
# last_week contém somente as vendas da última semana
last_week = df_store[(df_store['week'] == '2018-02-25')]
print(last_week)

           week  storeA  storeB  storeC  storeD  storeE
199  2018-02-25    7560    6904    3569    5045    2585

In [39]:
# last_week_sales é a mesma linha, sem a semana para atrapalhar a avaliação de máximo
last_week_sales = last_week.loc[:, last_week.columns != 'week']
print(last_week_sales)

     storeA  storeB  storeC  storeD  storeE
199    7560    6904    3569    5045    2585

In [40]:
# a função max com axis=1 acha o maior valor entre as colunas
print(last_week_sales.max(axis=1).values)

[7560]

In [41]:
# Loja com melhor resultado no último mês
# Filtrando pelo período
# Seleciona o intervalo de tempo
# Soma as colunas
# Exclui a week da seleção
# Pega o índice com maior valor
# Obs:
# axis=0 define que a função deve ser aplicada em cada coluna
# axis=1 define que a função deve ser aplicada em cada linha

# Seleciona o intervalo de tempo
last_month = df_store.loc[(df_store['week'] > '2018-02-01') & 
                                (df_store['week'] < '2018-03-01')]
print(last_month)

# Exclui a week da seleção
last_month_sales = last_month.loc[:, last_month.columns != 'week']
print(last_month_sales)

# Soma as colunas
sum_sales = last_month_sales.sum(axis=0)[:]
print(sum_sales)

# Pega o índice com maior valor
print('Loja com melhor resultado no último mês: {0}'.format(sum_sales.idxmax()))

           week  storeA  storeB  storeC  storeD  storeE
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585
     storeA  storeB  storeC  storeD  storeE
196    4853    6503    4187    5956    1458
197    9202    3677    4540    6186     243
198    3512    7511    4151    5596    3501
199    7560    6904    3569    5045    2585
storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64
Loja com melhor resultado no último mês: storeA

In [42]:
# average sales
df_store.loc[:, df_store.columns != 'week'].sum(axis=0).idxmax()

'storeB'

In [43]:
# sales on march 13, 2016
df_store.loc[df_store['week'] == '2016-03-13', df_store.columns != 'week'].max().idxmax()

'storeD'

In [44]:
# worst week for store C
# index do valor min de vendas da storeC
storeC_min_index = df_store['storeC'].idxmin()
# localizar a semana
df_store.iloc[storeC_min_index]['week']

'2014-07-06'

In [105]:
# conteudo estudo sobre datatime e DateOffset
print('**entendendo Timestamp e Dateoffset**')
time_stamp = pd.Timestamp('2010/11/12')
print('time_stamp: {0}, type(time_stamp): {1}'.format(time_stamp, type(time_stamp)))
print('--')
date_time = pd.datetime(2008, 8, 18, 9, 0)
print('d: {0}, type(date_time): {1}'.format(date_time, type(date_time)))
print('--')
print('somando {}dias e {}meses em date_time = {} ---> {}'.format(day, month, date_time, date_time + 
                                                                  pd.DateOffset(months=4, days=5)))
print('**fim**')

**entendendo Timestamp e Dateoffset**
time_stamp: 2010-11-12 00:00:00, type(time_stamp): <class 'pandas._libs.tslibs.timestamps.Timestamp'>
--
d: 2008-08-18 09:00:00, type(date_time): <class 'datetime.datetime'>
--
somando 3dias e 2meses em date_time = 2008-08-18 09:00:00 ---> 2008-12-23 09:00:00
**fim**

In [117]:
# total sales during most recent 3 month period
    # ver o ultimo mes vendo a ultima linha
last_period = df_store.tail(1)
print('# ver os ultimos meses vendo a ultima linha')
print(last_period)

    # calcular esses meses
    # Primeiro precisamos converter a string para datetime
df_store['week'] = pd.to_datetime(df_store['week'] )
print('# Primeiro precisamos converter a string para datetime')
print(df_store['week'].tail(1))

    # limites para os ultimos 3 meses
period_start = df_store['week'].max() -  pd.DateOffset(months=3)
print('# limites para os ultimos 3 meses')
print(period_start)
period_end = df_store['week'].max()
print(period_end)
    # período dos ultimos 3 meses
last_tree_months = df_store.loc[(df_store['week'] >= period_start) & (df_store['week'] <= period_end)]
print('# período dos ultimos 3 meses')
print(last_tree_months)
    #excluir coluna week
sales_last_tree_months = last_tree_months.loc[:, last_tree_months.columns != 'week']
print('#excluir week')
print(sales_last_tree_months)
    #soma das vendas
sum_sales_tree_months = sales_last_tree_months.sum(axis=0)
print('#soma das vendas')
print(sum_sales_tree_months)
    #quem mais vendeu
higher_sales_tree_months = sum_sales_tree_months.idxmax()
print('#quem mais vendeu')
print(higher_sales_tree_months)

# ver os ultimos meses vendo a ultima linha
          week  storeA  storeB  storeC  storeD  storeE
199 2018-02-25    7560    6904    3569    5045    2585
# Primeiro precisamos converter a string para datetime
199   2018-02-25
Name: week, dtype: datetime64[ns]
# limites para os ultimos 3 meses
2017-11-25 00:00:00
2018-02-25 00:00:00
# período dos ultimos 3 meses
          week  storeA  storeB  storeC  storeD  storeE
186 2017-11-26    6866    5011    5401    4736    3232
187 2017-12-03    5179    3850    6121    6778     113
188 2017-12-10    9348    5624    5446    5448     227
189 2017-12-17    5310    8647    5680    7049    3578
190 2017-12-24    8976    9503    6240    3882    2890
191 2017-12-31   11875    1527    6711    5265    1701
192 2018-01-07    8978   11312    4158    5019    3842
193 2018-01-14    6963    4014    4215    7153    3097
194 2018-01-21    5553    3971    3761    6255    3071
195 2018-01-28     282    6351    7759    5558    1028
196 2018-02-04    4853    6503    4187    5956    1458
197 2018-02-11    9202    3677    4540    6186     243
198 2018-02-18    3512    7511    4151    5596    3501
199 2018-02-25    7560    6904    3569    5045    2585
#excluir week
     storeA  storeB  storeC  storeD  storeE
186    6866    5011    5401    4736    3232
187    5179    3850    6121    6778     113
188    9348    5624    5446    5448     227
189    5310    8647    5680    7049    3578
190    8976    9503    6240    3882    2890
191   11875    1527    6711    5265    1701
192    8978   11312    4158    5019    3842
193    6963    4014    4215    7153    3097
194    5553    3971    3761    6255    3071
195     282    6351    7759    5558    1028
196    4853    6503    4187    5956    1458
197    9202    3677    4540    6186     243
198    3512    7511    4151    5596    3501
199    7560    6904    3569    5045    2585
#soma das vendas
storeA    94457
storeB    84405
storeC    71939
storeD    79926
storeE    30566
dtype: int64
#quem mais vendeu
storeA